<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> FOOTER | E-COMMERCE WEBSITE </title>
    <!-- EXTERNAL LINKS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
</head>

<body>
    <footer>
        <section>    
            <div id="containerFooter">
                
                <div id="webFooter">
                    <h3> online store </h3>
                    <p> Androids</p>
                    <p> Iphones</p>
                    <p>Budget Phones </p>
                    
                </div>
                <div id="webFooter">
                    <h3> helpful link </h3>
                    <p> Home </p>
                    <p> About </p>
                    <p> Contact </p>
                    <p> Privacy Policy </p>
                </div>
                <div id="webFooter">
                    <h3> partners </h3>
                    <p> Apple </p>
                    <p> Samsung </p>
                    <p> Motorola </p>
                    <p> Vivo Oneplus</p>
                    <p> RealMe </p>
                    <p> +Many More </p>
                </div>
                <div id="webFooter">
                    <h3> address </h3>
                    <p> Ramdeobaba College</p>
                    <p> Gittikhadan </p>
                    <p> 440023 </p>
                    <p> Nagpur , India </p>
                </div>
            </div>
            <div id="credit">
                <p>&copy; ShopBase.com &nbsp;&nbsp;&nbsp;&nbsp; ALL RIGHTS RESERVED</p>
            </div>
        </section>

    </footer>

</body>
</html>