<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronics Ecommerce Website</title>
    <link rel="stylesheet" href="/static/styles1.css">
</head>
<body>
    <h1>Welcome to our Electronics Ecommerce Website!</h1>

    <h2>User Registration</h2>
    <form action="/register" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" autocomplete="name" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" autocomplete="email" required><br>

        <label for="gender">Gender:</label><br>
        <input type="text" id="gender" autocomplete="sex" name="gender"><br>

        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" autocomplete="age"><br>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" autocomplete="city"><br>

        <label for="mobile">Mobile No:</label><br>
        <input type="tel" id="mobile" name="mobile" autocomplete="mobile" required><br><br>

        <input type="submit" value="Submit">
    </form>

    <hr>

    <!-- <script src="/static/script1.js"></script> -->
</body>
</html>
